# Dependencies
node_modules
npm-debug.log

# Build output
dist
dist-ssr
*.local

# Docker metadata
.dockerignore
Dockerfile
docker-compose*.yml

# IDE files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git
.git
.github

# OS files
.DS_Store
Thumbs.db
